/* GLOBAL STYLES */
* {margin:0;padding:0;font-family:'Source Sans Pro',sans-serif;color:#222;box-sizing:border-box;-m-box-sizing:border-box;}
a {text-decoration:none;color:#222;}
a:hover {color:#536AAA;}
a.white {color:#ffffff;}
h1,h2,h3,h4,h5,h6 {font-family:'Source Sans Pro',sans-serif;margin:0;padding:0;}
h5.label {margin:0 0 8px 0;font-size:15px;font-weight:300;text-transform:uppercase;border-bottom:4px solid #536aaa;}
p {font-size:16px;line-height:20px;}
p.posted {margin:2px 0 0 0;font-size:11px;line-height:20px;color:#6e6e6e;}
p.tease {margin:2px 0 0 0;font-size:13px;line-height:17px;}
img {display:block;max-width:100%;border:none;}
ul {list-style:none outside none;padding:0;margin:0;}
hr {margin:0 0 8px 10px;border:0;width:940px;height:1px;background-color:#e2e2e2;}
.fa {font-weight:bold;}

/* ADVERTISEMENT */
#ad-topLeft {height:90px;float:left;}
#ad-topRight {height:90px;float:right;}
#ad-featured {width:100%;margin:0 0 8px 0;padding:0 0 8px 0;border-bottom:1px solid #e2e2e2;}
#ad-featured img, .ad-strip img {margin:0 auto;}
.ad-strip {padding:0 0 8px 0;}
.ad {margin: 0 0 8px 0;}


/* PAGE STRUCTURE -----------
---------------------------*/
nav#side-panel {
	position:fixed;
	top:0;
	left:0;
	width:0;
	height:100%;
	background-color:#fff;
	border-right:1px solid #ccc;
	box-shadow: 4px 0 6px 1px rgba(0,0,0,0.1);
		-webkit-box-shadow:4px 0 6px 1px rgba(0,0,0,0.1);
		-moz-box-shadow:4px 0 6px 1px rgba(0,0,0,0.1);
	z-index:9999999;
	display:none;
}
nav#side-panel.active {
	display:block;
	width:210px;
	cursor:default;
	z-index:10000000;
}
nav#side-panel .section {margin:20px 0;}
nav#side-panel .section .header {margin:0 0 5px 19px;}
nav#side-panel .section .header h6 {font-size:12px;line-height:14px;font-weight:500;text-transform:uppercase;color:#999;}
nav#side-panel .section li {font-size:16px;line-height:18px;white-space:nowrap;}
nav#side-panel .section.primary li a {font-weight:700;}
nav#side-panel .section.secondary li a {font-size:14px;line-height:16px;font-weight:500;}
nav#side-panel .section li a {display:block;margin:0 10px;padding:4px 9px 5px 9px;cursor:pointer;}
nav#side-panel .section li a:hover {color:#000;background-color:#edf0f6;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
nav#side-panel .arrow-right {
	display:inline-block;
	position:absolute;
	left:187px;
	margin:5px 0 0 0;
	width:0;
	height:0;
	border-top:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px solid #bbb;
}
nav#side-panel .arrow-right .arrow-conceal {
	display:inline-block;
	position:absolute;
	top:-4px;
	left:-5px;
	width:0;
	height:0;
	border-top:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:4px solid #fff;
}

#page-wrapper {position:relative;margin:0 auto;width:940px;}
header {padding:10px 0 0 0;margin: 0 0 8px 0;}
header #top-links {position:relative;min-height:30px;margin:5px 0;padding:8px 0 0 0;text-align:center;}
header #top-links * {display:inline;}
/*#classifieds, #text-links, #user-access,
#classifieds ul, #text-links ul, #user-access ul,
#classifieds ul li, #text-links ul li, #user-access ul li {display:inline;} */
header #classifieds {position:absolute;top:0;left:0;white-space:nowrap;}
header #classifieds ul li:before {}
header #classifieds ul li a {
	margin:0;
	background-color:#f3f3f3;
	padding:25px 8px 9px 8px;
	font-size:10px;
	font-weight:600;
	text-transform:uppercase;
}
header #classifieds ul li a:hover {
	//color:#fff;
	background-color: #edf0f6;
}

header #text-links {font-size:11px;}
header #text-links ul li+li:before {content:"|";color:#e2e2e2;padding:0 5px;}

header .user-access {position:absolute;top:0;right:0;white-space:nowrap;}
header .user-access ul li+li:before {content:"";margin:0 0 0 6px;}
header .user-access ul li a {
	background-color: #8696c3;
	border:1px solid #7587bb;
	border-radius: 3px;
	color:#fff;
	display:inline-block;
	font-size:11.5px;
	font-weight:600;
	padding:6px 8px 4px 8px;
	text-transform:uppercase;
}
header .user-access ul li a:hover {
	background-color: #536aaa;
	border: 1px solid #4a5f99;
}

header #nameplate {clear:both;position:relative;min-height:105px;padding:6px 0;text-align:center;border-bottom:2px solid #000;border-top:1px solid #e2e2e2;}
header #nameplate #flag {margin:10px auto 0 auto;}
header #nameplate #flag img {display:inline;}
header #nav-container {border-bottom:1px solid #e2e2e2;}
header nav {position:relative;padding:3px 0 5px 0;}
header nav ul {text-align:center;}
header nav ul li {display:inline;}
header nav ul li.section-menu a {position:absolute;top:2px;left:0;font-size:16px;padding-left:0;}
header nav ul li.section-menu a span {position:relative;top:-2px;margin:0 0 0 6px;font-size:10px;font-weight:400;color:#999;text-transform:uppercase;}
header nav ul li.section-menu a span:hover {color:#999;}
header nav ul li.search a {position:absolute;top:1px;right:0;font-size:16px;padding-right:0;}
header nav ul li.search-mini-nav {display:none;}
header nav ul li.search a span {position:relative;top:-1px;margin:0 6px 0 0;font-size:10px;font-weight:400;color:#999;text-transform:uppercase;}
header nav ul li.search a span:hover {color:#999;}
header nav ul li.section-menu a:hover i,
header nav ul li.search a:hover i,
header nav ul li.search-mini-nav a:hover i {color:#536aaa;}
header #nav-container .fixed {position:fixed;width:100%;max-height:41px;top:0;left:0;padding:8px 0 10px;background:#fff;border-bottom:1px solid #e2e2e2;box-shadow:1px 1px 8px rgba(102,102,102,0.3);z-index:999999;}
header #nav-container .fixed ul {width:940px;margin:0 auto;text-align:left;}
header nav ul li a, .fixed ul li a {color:#000;text-transform:none;font-size:14px;font-weight:700;padding:2px 4px;margin:0 4px;}
header #nav-container .fixed ul li a:hover {color:#536aaa;}
header #nav-container .fixed ul li.section-menu a,
header #nav-container .fixed ul li .search a {position:relative;}
header #nav-container .fixed ul li.search {display:none;}
header #nav-container .fixed ul li.section-menu a span,
header #nav-container .fixed ul li.search a span {display:none;}
header #nav-container .fixed ul li.search-mini-nav {display:inline;}
header #nav-container .fixed ul li.search-mini-nav a {position:relative;top:1px;font-size:16px;}
header nav .user-access {display:none;}
header #nav-container .fixed .user-access {display:inline-block;position:relative;top:-2px;float:right;}
header #nav-container .fixed .user-access ul {width:auto;}
header #nav-container .fixed .user-access ul li a {margin:0;}
header #nav-container .fixed .user-access ul li a:hover {color:#fff;}


#main {clear:both;margin:0 -10px;}


/* homepage */
.container {overflow:auto;}
#a-box {margin-bottom:10px;}
#a-box .lead-rail {width: 230px;margin:0 0 10px 0;padding: 0 10px 0 0;border-right: 1px solid #e2e2e2;}
#a-box .lead-rail .story {margin:0 0 10px 0;padding: 0 0 10px 0;border-bottom: 1px solid #e2e2e2;}
#a-box .lead-rail .story:last-child {padding:0;border:none;}
#a-box .lead-rail .story h2 {font-size:25px;line-height:27px;}
#a-box .lead-rail .story h3 {font-size:15px;line-height:17px;}
#a-box .lead-rail .story p.posted {margin:1px 0 0 0;}
#a-box .lead-story {margin:0 0 10px 10px;}
#a-box .lead-story img {margin-bottom:5px;}
#a-box .lead-story h1 {font-size:20px;line-height:22px;}
#a-box .topics {margin:5px 0 0 0;height:30px;background-color:#f3f3f3;}
#a-box .topics span.label {position:relative;float:left;padding:3px 6px;height:30px;background-color:#536aaa;}
#a-box .topics span.label:after {
	content:"";
	position:absolute;
	top:0;
	right:-8px;
	display: block;
	width:0; 
	height:0; 
	border-top:15px solid transparent;
	border-bottom:15px solid transparent;
	border-left:8px solid #536aaa;
}
#a-box .topics span.label p {font-size:12px;line-height:0;font-weight:300;text-transform:uppercase;color:#fff;}
#a-box .topics ul {overflow:hidden;display:inline-block;margin:0 0 0 10px;padding:3px 3px 0 0;width:85%;height:30px;}
#a-box .topics ul li {display:inline;}
#a-box .topics ul li a {font-size:13px;padding:2px 4px;margin:0 10px;}

#news-strip {overflow:auto;margin:40px 0;}
#news-strip .col-3:first-child {margin-left:0;}
#news-strip .col-3:last-child {margin-right:0;}

#multimedia {overflow:auto;margin:40px 0;}



/* global structures */
#most-popular {margin:0 0 10px 0;background-color:#f8f8f8;}
#most-popular h6 {padding:5px 10px;background-color:#536AAA;font-size:14px;font-weight:800;text-transform:uppercase;color:#FFF;}
#most-popular ul li {border:1px solid #d8d8d8;border-bottom:none;}
#most-popular ul li:last-child {border-bottom:1px solid #d8d8d8;}
#most-popular ul li a {display:block;padding:10px;font-size:13px;line-height:15px;font-weight:600;}
#most-popular ul li a:hover {color:#536aaa;text-decoration:none!important;}

.mini-bucket {padding:0 10px;}
.mini-bucket:first-child {padding-left:0;}
.mini-bucket:last-child {padding-right:0;}
.mini-bucket h4 {margin:0 0 8px 0;padding:0 0 8px 0;font-size:13px;line-height:15px;font-weight:600;border-bottom:1px solid #e2e2e2;}
.mini-bucket h4:last-child {border:none;}

.section-grid {overflow:auto;margin:40px 0 15px 0;}
.section-grid .mini-bucket {margin-bottom:25px;}
.section-grid .mini-bucket:nth-child(4n+1) {padding-left:0;}
.section-grid .mini-bucket:nth-child(4n+4) {padding-right:0;}


/* COLUMN GRID */
.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6,
.col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
		-m-box-sizing:border-box;
}

.col-1 {width:60px;}
.col-2 {width:140px;}
.col-3 {width:220px;}
.col-4 {width:300px;}
.col-5 {width:380px;}
.col-6 {width:460px;}
.col-7 {width:540px;}
.col-8 {width:620px;}
.col-9 {width:700px;}
.col-10 {width:780px;}
.col-11 {width:860px;}
.col-12 {width:940px;}











