/* GLOBAL STYLES */
* {margin:0;padding:0;font-family:'Source Sans Pro',sans-serif;}
a {text-decoration:none;color:#000;}
a:hover {color:#536AAA;}
a.white {color:#ffffff;}
h1,h2,h3,h4,h5,h6 {font-family:'Source Sans Pro',sans-serif;margin:0;padding:0;}
p {font-size:16px;line-height:20px;}
img {display:block;max-width:100%;border:none;}
ul {list-style:none outside none;padding:0;margin:0;}

/* ADVERTISEMENT */
#top {width:100%;margin-bottom:8px;padding-top:8px;border-top:1px solid #e2e2e2;}
#top img {margin:0 auto;}

/* MAIN STRUCTURE */
#page-wrapper {position:relative;margin:0 auto;width:990px;}

header {padding-top:10px;}
header #nameplate {position:relative;padding:15px 0;text-align:center;border-bottom:2px solid #000;border-top:1px solid #e2e2e2;}
header #nameplate img#flag {margin:0 auto;}
header .nav-container {}
header nav {position:relative;padding:3px 0 5px 0;}
header nav ul {text-align:center;}
header nav ul li {display:inline;}
header nav ul li a {color:#000;text-transform:none;font-size:14px;font-weight:700;padding:2px 4px;margin:0 4px;}

#main {clear:both;padding:10px 0 0 0;border-top:1px solid #e2e2e2;}

